@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'fa-regular';
    font-style: normal;
    font-weight: 400;
    src: local('fa-regular'), url(/fonts/fa-regular-400.ttf) format('truetype');
}

